@{
    ViewData["Title"] = "Home Page";
}

@using Newtonsoft.Json;

@{
    var obj = JsonConvert.SerializeObject(Model);
}

@model Interview_solufemi91.Models.BlogDataModel

<div id="BlogWrapper" data="@obj" v-cloak>
    <blog inline-template v-cloak>
        <div>
            <blog-post :blog-post-data="item" inline-template v-for="(item, index) in items"  :key="index" >
                <div v-on:click="displayComments(blogPostData.BlogPostId)">
                    <h1>{{blogPostData.Title}}</h1>
                    <p>Published on : {{blogPostData.PublishedOn}}</p>
                    <p>Number of Comments: {{blogPostData.BlogComments.length}}</p>
                    <div id="commments" v-show="blogPostData.DisplayComments">
                        <div v-for="(blogComment, index) in blogPostData.BlogComments" :key="index">
                            <p>{{blogComment.Comment}}</p>
                            <p>Posted on: {{blogComment.CommentedOn}}</p>
                        </div>
                    </div>
                </div>              
            </blog-post>           
        </div>
    </blog>
</div>
