@{
    ViewData["Title"] = "Home Page";
}

@using Newtonsoft.Json;

@{
    var obj = JsonConvert.SerializeObject(Model);
}

@model Interview_solufemi91.Models.BlogDataModel

<div id="BlogWrapper" data="@obj" v-cloak>
    <blog inline-template v-cloak>
        <div>
            <blog-post :blog-post-data="item" inline-template v-for="(item, index) in items"  :key="index" >
                <div v-on:click="displayComments(blogPostData.BlogPostId)">
                    <h1>{{blogPostData.Title}}</h1>
                    <p>Published on : {{blogPostData.PublishedOn}}</p>
                    <p>Number of Comments: {{blogPostData.BlogComments.length}}</p>
                    <blog-comment-section v-if="renderCommentsSection" inline-template :blog-comments-data="blogPostData">
                        <div id="commments" v-show="blogCommentsData.DisplayComments">
                            <div v-for="(blogCommentData, index) in blogCommentsData.BlogComments" :key="index">
                                <p>{{blogCommentData.Comment}}</p>
                                <p>Posted on: {{blogCommentData.CommentedOn}}</p>
                            </div>
                        </div>
                    </blog-comment-section>                   
                </div>              
            </blog-post>           
        </div>
    </blog>
</div>
