@{
    ViewData["Title"] = "Home Page";
}

@using Newtonsoft.Json;

@{
    var obj = JsonConvert.SerializeObject(Model);
}

@model Interview_solufemi91.Models.BlogDataModel

<div id="BlogWrapper" data="@obj">
</div>
